{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input class="form-control" name="current" placeholder="Current" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Set new password</button>
    </form>
{% endblock %}
