{% extends "layout.html" %}

{% block title %}
CS50 Finance
{% endblock %}

{% block main %}
<h1>
  Hello {{ session.username }}!
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Shares</th>
      <th>Price</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4"></td>
      <td>{{ assets }}</td>
    </tr>
  </tfoot>
  <tbody>
    {% for share in shares %}
    <tr>
      <td>{{ share.symbol }}</td>
      <td>{{ share.name }}</td>
      <td>{{ share.shares }}</td>
      <td>{{ share.price }}</td>
      <td>{{ share.total }}</td>
    </tr>
    {% endfor %}

    <tr>
      <td colspan="4">CASH</td>
      <td>{{ cash }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
